.slick-dots li button:before{
  font-size: 12px !important;
}

.slick-dots li.slick-active button:before{
  color:#156BCA !important;
}
.slick-dots li.slick-active button:before:hover{
  color:#156BCA !important;
}